html, body {
    height: 100%;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
}


#visualization {
    position: relative;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.visualization > .dragndrop_hint {

    padding: 10vmin;

    text-align: center;

    border: rgba(255,255,255,0.2) 0.5vmin dotted;
    border-radius: 2vmin;

    max-font-size: 20px;
    font-size: 3vmin;
}

.visualization > .timeline {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}