html, body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 3vmin;
}


#visualization {
    position: relative;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.visualization > .file_hint {
    padding: 3vmin;
    text-align: center;
    max-font-size: 20px;
}

.visualization > .file_hint > .dragndrop_hint {
    padding: 5vmin;
    text-align: center;
    border: rgba(255, 255, 255, 0.2) 0.5vmin dotted;
    border-radius: 2vmin;
    margin-bottom: 3vmin;
}

.visualization > .file_hint > .dragndrop_hint > p {
    margin: 0;
}

.visualization > .timeline {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0 0 40px 0;

    user-select: none;
    cursor: crosshair;
    overflow-y: visible;
    padding-bottom: 80px;
    box-sizing: border-box;

    font-size: 16px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.stats {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee !important;
    color: #303030;
    border-left: #303030 1px solid;
    font-size: 20px;
    padding: 0px 50px;
    width: 600px;
}

.stats.no_selection {
    justify-content: center;
}

.stats canvas {
    display: block;
}

.stats .node_stat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats .chart_container {
    width: 40%;
    height: 100%;
}

.stats .stat_details {
    width: 60%;
    padding: 10px;
}

.stats .stat_details h3 {
    font-size: 28px;
}

.stats .stat_details p:last-child {
    margin: 0px;
}

.stats .selection_range {
    text-align: center;
    padding: 50px 0;
}