<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flora Visualizer</title>

    <link rel="stylesheet" type="text/css" href="static/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/main.css">

    <link rel="icon" type="image/png" href="static/flora_logo-square.png"/>

    <script src="static/jquery-3.3.1.min.js"></script>
    <script src="static/snap.svg-min.js"></script>
    <script src="static/main.js"></script>
</head>
<body>
<svg id="svg"></svg>
<div id="container">
    <div id="dragndrop_hint">
        <p>drag'n'drop <strong><code>simulation_trace.json</code></strong>
    </div>
</div>
</body>
</html>